.TextStyle {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 25px;
    font-family: 'Roboto', sans-serif;
  }


  .SelectStyle {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }

  .FileStyle {
    width: 100%;
    
    color: black;
    margin: 5px 0;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 25px;
    font-family: 'Roboto', sans-serif;

  }