.App {
 
  font-family: 'Roboto', sans-serif;
  font-size: 13px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.ButtonStyle {
  width: 30%;
  background-color: #00a9f4;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.BulletStyle{
  padding-top: 0px;
  padding-bottom: 5px;
  

}

.projects {
  
  border-collapse: collapse;
  
}

.projects td, .projects th {
  border: 1px solid #ddd;
  padding: 8px;
}

.projects tr:nth-child(even){background-color: #f2f2f2;}

.projects tr:hover {background-color: #ddd;}

.projects th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}